.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

        &--front {
            background-color: $color-white;
         
        }

        &--back {
            background-image: linear-gradient(to right, $color-primary, $color-secondary);
            transform: rotateY(180deg);

            &-1 {
                
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);

    }

    &:hover &__side--back {
        transform: rotateY(0);

    }

    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
                

        &--1 {
            background-image: url(../tomheaton.png), linear-gradient(to right, $color-primary, $color-secondary);
        }

        &--2{
            background-image: url(../benmee.png), linear-gradient(to right, $color-primary, $color-secondary);
        }

        &--3 {
            background-image: url(../ashleybarnes.png), linear-gradient(to right, $color-primary, $color-secondary);
        }
    }

    &__header {
        padding: 1rem 1.5rem;
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 14rem;
        right: 2rem;

       
    }

    &__header-span {

        &-1 {
            background-image: linear-gradient(to right bottom, rgba($color-primary, .85), rgba($color-secondary, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-1;
                }
            }

        }
    }

    &__cta {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
    }

    &__name {
        text-align: center;
        margin-bottom: 8rem;
        color: white;
       


        &--player {
             font-size: 4rem;
             text-transform: uppercase;
             line-height: 3rem;

        }

        &--stats {
            font-size: 1.4rem;
            font-weight: 100;
             

        }
    }

    @include respond(tab-port){
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;
                       
            &--back {
                transform: rotateY(0);
                -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            

            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }


        &__cta {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            transform: translate(0);
            padding: 7rem 4rem 4rem 4rem;
            
        }

        &__name {
            margin-bottom: 8rem;
            text-align: center;


            &--player {
                padding: 4rem 0;
                line-height: 6rem;
            
            }
           

            &--stats {
                font-size: 1.4rem;
                              
            }
        }
    }

       
}